<nav class="bottom-nav">
    <div class="bottom-nav-container">
        <a href="/" class="<%= activeLink === '/'? 'active' : '' %>">Courses</a>
        <a href="/games" class="<%= activeLink === '/games'? 'active' : '' %>">Mini Games</a>
        <a href="/search" class="<%= activeLink === '/search'? 'active' : '' %>">Search</a>
        <a href="/Leaderboard" class="<%= activeLink === '/Leaderboard'? 'active' : '' %>">Leaderboard</a>
        <a href="/login" class="<%= activeLink === '/login'? 'active' : '' %>">Log in</a>
    </div>
</nav>