<div class="user-status">
    <div class="flex items-center gap-4 w-full">
        <img src="<%= avatar %>" alt="<%= username %>" class="avatar"/>
        <div class="main">
            <p class="username"><%= username %></p>
            <p class="exp"><%= exp %> EXP</p>
        </div>
    </div>
    <div class="stats">
        <div class="tag tag-streak">
            <img src="/icons/streak.svg" alt="streak"/>
            <p><%= streak %></p>
        </div>
        <div class="tag tag-gems">
            <img src="/icons/gem.svg" alt="gems"/>
            <p><%= gems %></p>
        </div>
        <div class="tag tag-life">
            <img src="/icons/life.svg" alt="life"/>
            <p><%= life %></p>
        </div>
    </div>
</div>