<div class="user-rank-card">
    <div class="main">
        <img src="/avatars/<%= avatar %>" alt="<%= username %>">
        <div>
            <p class="username"><%= username %></p>
            <p class="exp"><%= exp %> EXP</p>
        </div>
    </div>
    <div class="position"><span><%= position %></span></div>
</div>