<!doctype html>
<html>

<head>
    <%- include('./components/head') %>
</head>

<body class="pt-20">
    <%- include('./components/navbar', { activeLink: "/" }) %>
    <%- include('./components/bottomNav', { activeLink: "/" }) %>

    <section class="container h-full flex flex-col gap-4 items-center justify-center">
        <h1 class="text-3xl font-bold">ERROR: <%= statusCode %></h1>
        <p><%= statusMessage %></p>
    </section>
</body>

</html>