<!doctype html>
<html>

<head>
    <%- include('./components/head') %>
</head>

<body class="dark">
    <section class="container p-4 h-full sm:w-[600px] flex flex-col justify-between">
        <div>
            <%- include('./components/timer', { time: 10, percentage: 50 }) %>
            <%- include('./components/counter', { questionStatus: [ "solved", "wrong", "solved", "wrong", "wrong", "unsolved", "unsolved", "unsolved", "unsolved" ] }) %>
        </div>

        <div class="question-section">
            <img src="<%= questionImage %>" alt="question image"/>
            <p><%= question %></p>
        </div>

        <div class="answer-section">
            <div class="answer-buttons">
                <% answers.forEach((answer, i) => { %>
                    <%- include('./components/answerButton', { objectiveLetter: i, answer: answer }) %>
                <% }); %>
            </div>
            <button class="ml-auto mt-2">Skip</button>
        </div>
    </section>
</body>

</html>